<mat-card id="card" class="info-content">
    <mat-card-title class="info-heading">
        How it works?
    </mat-card-title>
    <mat-card-content>
        <p>
            Angular is an application design framework and development platform for creating efficient and sophisticated
            single-page apps.
        </p>
        <p>
            These Angular docs help you learn and use the Angular framework and development platform, from your first
            application to optimizing complex single-page apps for enterprises. Tutorials and guides include
            downloadable examples to accelerate your projects.
        </p>
    </mat-card-content>
</mat-card>